// ======================================
$color-primary:#fcb405;
$color-dark:#060606;
$color-dark-grey:#0c0c0c;
$white:#fff;

// ==================================================================
// media querys
// ==================================================================
$px1200:75em; //1200px
$px1024:64em; //1024px
$px992:62em; //992px
$px768:48em; //1200px
$px575:35.9375em; //575px
$px480:30em; //480px
$px380:23.75em; //380px





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    @media only screen and (max-width:$px1200){
        font-size: 55%;
    }
    @media only screen and (max-width:$px1024){
        font-size: 50%;
    }

}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4rem;
    color:$white;
    background:$color-dark; 
    line-height: 1.3;
}

.row{
    max-width: 114rem;
    width: 90%;
    margin: 0 auto;
}
.container{
    max-width: 150rem;
    width: 95%;
    margin: 0 auto;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(12,minmax(min-content, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;

}

// ===============================================
// ===============================================
.btn{
    &,
    &:link,
    &:visited{
        color:$color-primary;
        text-transform: uppercase;
        border-bottom: 1px solid $color-primary;
    }
}










// =========================================
// utility classes
// =========================================
.mb-1{margin-bottom: 1rem;}
.mb-2{margin-bottom: 2rem;}
.mb-3{margin-bottom: 3rem;}
.mb-4{margin-bottom: 4rem;}
.mb-5{margin-bottom: 5rem;}
.mb-6{margin-bottom: 6rem;}
.mb-7{margin-bottom: 7rem;}
.mb-8{margin-bottom: 8rem;}
.mb-9{margin-bottom: 9rem;} 
.mb-10{margin-bottom: 10rem;}

.mt-1{margin-top: 1rem;}
.mt-2{margin-top: 2rem;}
.mt-3{margin-top: 3rem;}
.mt-4{margin-top: 4rem;}
.mt-5{margin-top: 5rem;}
.mt-6{margin-top: 6rem;}
.mt-7{margin-top: 7rem;}
.mt-8{margin-top: 8rem;}
.mt-9{margin-top: 9rem;}
.mt-10{margin-top: 10rem;}

.db{display: block;}
.dib{display: inline-block;}
.tac{text-align: center;}































