.footer{
    margin: 8rem 0;



    &-f1-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
        grid-row-gap: 4rem;
        grid-column-gap: 10rem;
        border-bottom:1px solid #373737;
        padding-bottom: 5rem;
        align-items: center;
        align-content: center;
    }

    &-social__links{
        display: flex;
        justify-content: center;
        align-items: center;

        & > *{
            &:not(:last-child){
                margin-right: 2rem;
            }

            &:link,
            &:visited,
            &{
                color:#fff;
                display: inline-block;
                text-transform: capitalize;
            }
        }

        a{
            width: 3rem;
            height: 3rem;
            transition: all .3s;
            text-align: center;
            line-height: 3.5rem;
            border-radius: 50%;
            font-size: 1.6rem;

            &:hover{
                background:$color-primary;
            }
        }
    }

    &__form{
        width: 80%;
        @media only screen and (max-width:$px575){
            width: 100%;
        }
        
        &-box{
            display: flex;
            input{
                width: 100%;
                padding: 1rem 2rem;
                background:transparent;
                color:#fff;
                border:0;
                border:1px solid #373737;
                border-radius: .5rem; 
                font-family: inherit;
            }
            button{
                border: 0;
                background:transparent;
                color:#fff;
                font-size: 1.6rem;
                text-transform: capitalize;
                margin-left: -5rem;
                cursor: pointer;
            }
        }
    }
    // ===========================================
    // ===========================================

    &-f2-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
        grid-gap: 3rem;
    }

    &__menu-box{
        h4{
            font-size: 1.8rem;   
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 1px;
        }
        p{
            font-size: 1.8rem;
            font-weight: 300;
        }

        a{
            &:link,
            &:visited{
                color:#fff;
                text-transform: capitalize;
                font-size: 1.6rem;
                font-weight: 300;
            }
        }
    }


    .copyright{
       width: 100%;
       text-align: right;
       font-weight: 300;
       span{
           margin-left: .5rem;
           font-size: 1.8rem;
       }
    }




















}